# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore OS-specific files
.DS_Store

# Ignore environment variable files
.env

# Ignore IDE-specific files
.vscode/